<div id="scheduler"></div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/scheduler.js" asp-append-version="true"></script>
<script>getScheduler(@DateTime.Now.Year, @DateTime.Now.Month)</script>