@{
    ViewData["Title"] = "Home Page";
}

<button class="btn btn-success" onclick="showWelcome()">Click me</button>
<div id="welcome" class="text-center" style="display: none">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div id="calculator">
    <input class="form-control" name="input"/>
    <input class="form-control" name="input"/>
    <input class="form-control" name="input"/>
    <button onclick="sum()" class="btn btn-danger">Oblicz</button>
    <span id="result"></span>
</div>