@model LoginViewModel

<h1>Login</h1>

<form asp-controller="Auth" asp-action="Login" method="post">
	<div asp-validation-summary="ModelOnly"></div>
	<div class="form-group">
		<label asp-for="Email"></label>
		<input asp-for="Email" class="form-control" />
		<span asp-validation-for="Email" style="color: red;"></span>
	</div>
	<div class="form-group">
		<label asp-for="Password"></label>
		<input asp-for="Password" type="password" class="form-control" />
		<span asp-validation-for="Password" style="color: red;"></span>
	</div>
	<div class="form-check">
		<input type="checkbox" asp-for="RememberMe" class="form-check-input" />
		<label asp-for="RememberMe"></label>
		<span asp-validation-for="RememberMe" style="color: red;"></span>
	</div>
	<button class="btn btn-success" type="submit">Login</button>
</form>